<div class="container">
    <div class="card margin">
        <div class="card-header">
            <h1>Editar empleado</h1>
        </div>
        <div class="card-body">

     
            <div class="d-flex">
                <div class="mt-2 m-2">
                    <img class="avatar"
                        [src]="empleado.avatar == '' ? 'https://us.123rf.com/450wm/salamatik/salamatik1801/salamatik180100019/92979836-perfil-an%C3%B3nimo-icono-de-la-cara-persona-silueta-gris-avatar-masculino-por-defecto-foto-de-marcador-d.jpg?ver=6' : empleado.avatar ">
                </div>
                <div class="form-group ">
                    <label for="imagen">Imagen de perfil</label>
                    <input name="avatar" [(ngModel)]="empleado.avatar" type="text" class="form-control" id="imagen"
                        aria-describedby="text" placeholder="Ingrese el link de la imagen">
                </div>
            </div>

            <hr>


            <form>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input name="nombre" [(ngModel)]="empleado.nombre" type="text" class="form-control" id="nombre"
                        aria-describedby="text" placeholder="Ingrese su nombre">
                </div>

                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input name="apellido" [(ngModel)]="empleado.apellido" type="text" class="form-control"
                        id="apellido" aria-describedby="text" placeholder="Ingrese su apellido">
                </div>

                <div class="form-group">
                    <label for="sexo">Sexo</label>
                    <input name="sexo" [(ngModel)]="empleado.sexo" type="text" class="form-control" id="sexo"
                        aria-describedby="text" placeholder="Ingrese su sexo">
                </div>

                <div class="form-group">
                    <label for="edad">Edad</label>
                    <input name="edad" [(ngModel)]="empleado.edad" type="number" class="form-control" id="edad"
                        aria-describedby="text" placeholder="Ingrese su edad">
                </div>


                <div class="form-group">
                    <label for="area">Ârea</label>
                    <input name="area" [(ngModel)]="empleado.area" type="text" class="form-control" id="area"
                        aria-describedby="text" placeholder="Ingrese el àrea">
                </div>

                <div class="form-group">
                    <label for="salario">Salario</label>
                    <input name="salario" [(ngModel)]="empleado.salario" type="text" class="form-control" id="salario"
                        aria-describedby="text" placeholder="Ingrese el salario">
                </div>

                <div class="d-flex justify-content-end">
                    <button (click)="editarEmpleado(empleado.id)" class="btn btn-primary">Actualizar datos</button>
                </div>

            </form>



        </div>
    </div>
</div>