<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container-fluid">

        <a class="navbar-brand" routerLink="/empleados">Neoris</a>
        <div class="d-flex justify-content-end">
            <button routerLink="/empleados" routerLinkActive="active" class="btn btn-outline-dark" type="submit">Lista de empleados</button>
            <button routerLink="/crear-empleado" routerLinkActive="active" class="btn btn-outline-dark" type="submit">Registrar empleados</button>
        </div>

    </div>
</nav>